*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}
nav{
    display: inline-flex;
    background: rgba(0, 0, 0, 0.80);
    width: 100%;
    height: 44px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

ul{
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

li{
    padding: 15px;
}

.products{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product{
    margin-left: 10px;
    margin-right: 10px;
}

.photo{
    align-items: center;
    text-align: center;
}

.hero{
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    width: 50%;
}

.text{
    text-align: center;
    padding-bottom: 50px;
}

p{
    color: #6E6E73;
text-align: center;
font-family: SF Pro Text;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 147.059% */
letter-spacing: -0.374px;
}

.iphone14{
    text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 12%, #7F87FF 30%, #F65AAD 60%, #EC3D43 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h5{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}

.buy-btn{
    border-radius: 980px;
background: #0071E3;
width: 61.203px;
height: 36px;
padding: 8px 15.6px 8px 16px;
color: #FFF;

text-align: center;
font-family: SF Pro Text;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 117.648% */
letter-spacing: -0.374px;
}

.learn{
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
text-decoration: none;
padding-left: 20px;
}

.iphone14-div{
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    height: 830px;
    background-color: #000;
}

.iphone14pro{
    text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.itext{
    color: #FFF;
}

.iphonese-div{
    display: flex;
    justify-content: space-around;
}

.iphonese-div>.text{
    padding: 20% 0%;
}

.iphonese{
    background: linear-gradient(90deg, #1E3791 0%, #2948B1 40%, #3153C6 55%, #385FDA 60%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
}

.iphonetour-div{
    background-image: url(./Asstes/backgrond.png);
    width: 90%;
    margin: auto;
    height: 815px;
}

.itour{
    color: #FFF;
font-family: SF Pro Display;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
letter-spacing: 0.216px;
}

.iphonetour{
    color: #FFF;

font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
}

.film-btn{
    border-radius: 980px;
background: #FFF;
width: 142.234px;
height: 36px;
padding: 8px 15.6px 8px 16px;
justify-content: center;
align-items: center;
}

.lastSection{
    background-color: #ececec;
}

.iphoneshop-div{
    background-color: #01012A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.shop{
    color: #FFF;
text-align: center;
font-family: SF Pro Display;
font-size: 90px;
font-style: normal;
font-weight: 700;
line-height: 100.009px; /* 111.121% */
letter-spacing: -0.27px;
}

.guide{
    text-decoration: none;
    color: #2997FF;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}

.iphoneshop-div>.text>img{
    height: 106px;
    width: 106px;
}

.h1{
    color: #1D1D1F;

text-align: center;
font-family: SF Pro Display;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: -0.28px;
margin-top: 60px;
margin-bottom: 60px;
}

.offers{
    width: 90%;
    margin-top: 50px;
    margin: auto;
    background-color: #fff;
}

.offers>h5{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
letter-spacing: 0.216px;
margin-top: 60px;
margin-bottom: 60px;
}

.offers>h1{
    color: #1D1D1F;

text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
margin-top: 60px;
margin-bottom: 60px;
}

.carrier{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
margin-bottom: 60px;
}

.deal>center>button{
    border-radius: 980px;
background: #0071E3;
display: flex;
width: 169.797px;
height: 56px;
padding: 18px 30.6px 18px 31px;
justify-content: center;
align-items: center;
color: #FFF;
text-align: center;
font-family: SF Pro Text;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 117.648% */
letter-spacing: -0.374px;
}

.offers>p{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Text;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 147.059% */
letter-spacing: -0.374px;
margin-top: 60px;
margin-bottom: 60px;
}

.offers>p>span{
    color: #06C;

text-align: center;
font-family: SF Pro Text;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 147.059% */
letter-spacing: -0.374px;
}

.moreoffers{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trade, .card{
    width: 47%;
    height: 720px;
    background-color: #fff; 
}

.trade>h1, .card>h1{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
margin-top: 30px;
}

.trade>p, .card>p{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
margin-top: 30px;
padding: 20px;
}

.trade>a, .card>a{
    color: #06C;
text-decoration: none;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
display: flex;
flex-direction: column;
justify-content: center;
margin-bottom: 50px;
}

.cardimg>img{
    width: 642px;
    margin-top: 40px;
}

.best{
    width: 90%;
    margin: auto;
    margin-top: 40px;
}
.acces{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: -0.28px;
margin-top: 40px;
margin-bottom: 40px;
}

.magsafe, .airtag{
    background-color: white;
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.magtext>h1, .airtext>h1{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
}

.magtext>p, .airtext>p{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
display: flex;
width: 290.013px;
height: 83px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
margin-top: 20px;
}

.magtext>a, .airtext>a{
    text-decoration: none;
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
display: flex;
width: 243.497px;
height: 25px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
margin-top: 20px;
}

.airpods{
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    align-items: center;
}

.airpods>.cardimg>img{
    width: 1063px;
height: 498px;
flex-shrink: 0;
}

.airpods>.cardimg>h1{
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px; /* 108.349% */
    letter-spacing: -0.144px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.service{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.delivery, .support, .emi{
    width: 25%;
    text-align: center;
    padding: 50px;
}

.delivery>h3, .support>h3, .emi>h3{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}

.delivery>p, .support>p, .emi>p{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}

.delivery>a, .support>a, .emi>a{
    text-decoration: none;
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}

.ios16{
    width: 90%;
    margin: auto;
    padding-top: 60px;
}

.switch{
    text-align: center;
    background-color: white;
    width: 45%;
    margin: auto;
    margin-top: 40px;
}

.switch>h1{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
padding-top: 40px;
padding-bottom: 20px;
}

.switch>a{
    text-decoration: none;
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}

.appleone{
    width: 90%;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}

.appleone>.text{
    text-align: center;
}

.appleone>.text>h3{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 114.286% */
letter-spacing: 0.196px;
}

.appleone>.text>a{
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
text-decoration: none;
padding-right: 40px;
margin-top: 50px;
}

.tvandmusic{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    align-items: center;
    justify-content: space-around;
}

.appletv{
    padding-top: 40px;
    background-color: black;
    width: 48%;
    text-align: center;
}

.appletv>p{
    color: #F5F5F7;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
margin-top: 20px;
margin-bottom: 20px;
}

.appletv>a, .applemusic>a{
    color: #2997FF;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
padding-bottom: 40px;
text-decoration: none;
padding-right: 20px;
}

.applemusic{
    padding-top: 40px;
    background-color: white;
    width: 48%;
    text-align: center;
}

.applemusic>p{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
padding-top: 10px;
padding-bottom: 11px;
}

.newsandarcade{
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-top: 40px;
}

.news, .arcade{
    width: 48%;
}

.fitnessandgift{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    align-items: center;
    justify-content: space-around;    
}

.fitness, .giftcard{
    padding-top: 40px;
    background-color: #f9f9f9;
    width: 48%;
    height: 550px;
    text-align: center;
}

.fitness>p, .giftcard>p{
    margin-top: 30px;
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}

.fitness>a, .giftcard>a{
    text-decoration: none;
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
padding-right: 30px;
padding-top: 30px;
margin-bottom: 30px;
}

.research{
    background-color: #f9f9f9;
    width: 90%;
    height: 450px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.research>.text{
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

.research>.text>h1{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
}

.research>.img{
    margin-top: 63px;
}

.research>.text>p{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}

.research>.text>a{
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
text-decoration: none;
}

footer{
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

footer>p{
    color: #6E6E73;
font-family: SF Pro Text;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.337% */
letter-spacing: -0.12px;
text-align: left;
}

footer>table{
    margin-top: 30px;
    width: 100%;
}

footer>table>tr>thead{
    color: #1D1D1F;
font-family: SF Pro Text;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.337% */
letter-spacing: -0.12px;
}

tr{
    padding-right: 20px;
}